<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Jefe</title>

</head>
<body>
    {% include 'headerIndex.html' %}

  <div class="container-fluid">
    <div class="row">

      <!-- Contenido principal -->
      <div class="col-10" id="form_central">

        <!-- FORMULARIO DE PRODUCTOS -->

        <div class="container-fluid">
          <form action="" method="post">
              {% csrf_token %}
            <div class="mb-3">
              <label class="form-label">Modelo</label>
              <input type="text" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Matricula</label >
              <input type="text" class="form-control">
            </div>
            <div class="mb-3">
              <label  class="form-label">Kilometros</label>
              <input type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-dark">Realizar</button>
          </form>
        </div>

        <!-- Contenido principal -->
      </div>
    </div>
  </div>


</body>
</html>


