<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <title>Area Usuario</title>
</head>
<body>
    {% include 'header_cliente.html' %}

    <br><br>
    <div class="row row-cols-1 row-cols-md-3 g-4 ms-2">
          <div class="col">
            <div class="card h-100 w-75">
              <img src="{% static 'coche.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mis coches</h5>
                <p class="card-text">Manten tus coches con nosotros</p>
                  <a href=""></a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 w-75" >
              <img src="{% static 'coche.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mis Citas</h5>
                <p class="card-text">Pide tu cita con nosotros en cualquier momento</p>
                 <a href="{% url 'añadir_cita_cliente'%}"> Pide cita aqui</a>
              </div>
            </div>
          </div>
        {% if not cliente %}
          <div class="col">
            <div class="card h-100 w-75" >
              <img src="{% static 'coche.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Verificate</h5>
                <p class="card-text">Verificate como usuario para realizar compras online y mucho mas!!!</p>
                   <a href="{% url 'verificar'%}"> Verificate aqui</a>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="col">
                <div class="card h-100 w-75" >
                  <img src="{% static 'coche.jpeg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Mis presupuestos</h5>
                    <p class="card-text"><p> Consulta aqui tus presupuesto de compras </p>
                  </div>
                </div>
        </div>
        <div class="col">
                <div class="card h-100 w-75" >
                  <img src="{% static 'coche.jpeg' %}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Mis Citas</h5>
                    <p class="card-text"><p> Consulta aqui tus citas </p>
                      <a href="{% url 'lista_citas_cliente' %}">Tus citas</a>
                  </div>
                </div>
        </div>

    </div>
</body>
</html>