<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>barra_lateral</title>
    <style>
        a{
            text-decoration: none;
            color: white;

        }
        .lateral_list{
            list-style: none;
            padding: 10px;
            ;
        }
    </style>
</head>
<body>
    <div class="col-2" style="background: linear-gradient(180deg, rgba(0,0,0,1) 31%, rgba(129,0,15,1) 100%)">
        <!-- Contenido de la barra lateral -->
        <ul>
          <li class="lateral_list"><a href="{% url 'cliente' %}">Inicio</a></li>
          <li class="lateral_list"><a href="{% url 'añadir_coche' %}">Añadir Coches</a></li>
          <li class="lateral_list"><a href="{% url 'lista_coches' %}">Mis Coches</a></li>
          <li class="lateral_list"><a href="{% url 'recambios_coche' %}">Recambia Componentes</a></li>
          <li class="lateral_list"><a href="{% url 'lista_citas_cliente' %}">Mis Citas</a></li>
          <li class="lateral_list"><a href="{% url 'añadir_cita_cliente' %}">Pedir Cita</a></li>
          <li class="lateral_list"><a href="{% url 'mis_pedidos' %}">Mis pedidos</a></li>
        </ul>
    </div>
</body>
</html>
