{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <div class="container-fluid">
        <footer class="py-5">
            <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>Mas de Nosotros</h5>
                <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Ruben Gitano</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Acuerdos Medioambientales</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Nuestras Politicas</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sobre Nosotros</a></li>
                </ul>
            </div>

            <div class="col-md-5 offset-md-1 mb-3">
                <form id = "loginForm">
                    <h5>Subscribete a nuestra revista</h5>
                    <p>Actualizada mensualmente sobre las mejores piezas </p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Correo electronico</label>
                        <input type="text" class="form-control" id="correo" placeholder="Correo electronico">
                        <button class="btn btn-dark" type="submit">Subscribete</button>
                    </div>
                </form>
            </div>
            </div>


            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>&copy; 2024 Recaman, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis" href="#"><img class="img-top" src="{% static 'icons8-facebook-96.png' %}" alt="caralibro" style="width: 48px; height: 48px;"></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><img class="img-top" src="{% static 'icons8-instagram-96 (1).png' %}" alt="instagramo" style="width: 48px; height: 48px;"></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="#"><img class="img-top" src="{% static 'icons8-twitter-96 (1).png' %}" alt="tuitaso" style="width: 48px; height: 48px;"></a></li>
            </ul>
            </div>
        </footer>
    </div>
        <!--JavaScript-->
    <script>
        document.getElementById('loginForm').addEventListener('submit', function(event) {
            event.preventDefault();
            let email = document.getElementById('correo').value;
            if (!email.includes('@')) {
                alert('Introduce un email valido');
                return;
            }
            alert('Gracias por subscribirte a nuestra revista');
        });

    </script>
</body>
</html>