{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas_jefe</title>
</head>
<body>
    {% include "header.html" %}

  <div class="container-fluid">
    <div class="row">
      <!-- Barra lateral -->
      {% include 'barraLateral.html' %}
        <div class="col-md-10">
            {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                        <th scope="col">Fecha Compra</th>
                        <th scope="col">Fallos</th>
                        <th scope="col">Importe</th>
                        <th scope="col">Mecánico</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Nombre Usuario</th>
                    </tr>
            </thead>
            <tbody>
                {% for p in presupuesto %}
                <tr>
                    <th scope="row">{{ p.id }}</th>
                    <td>{{ p.fecha_compra}}</td>
                    <td>{{ p.fallos }}</td>
                    <td>{{ p.precio }}€</td>
                    <td>{{ p.cita.mecanico.nombre }}</td>
                    <td>{{ p.cliente.nombre }}</td>
                    <td>{{ p.cliente.user.nombreUsuario }}</td>
                </tr>
                {% endfor %}
                {% for ped in pedidos %}
                <tr>
                    <th scope="row">{{ ped.id }}</th>
                    <td>{{ ped.fecha_compra}}</td>
                    <td>{{ ped.precio }}€</td>
                    {% if ped.cita == null %}
                    	<td>------------</td>
                    {% endif %}
                    {% if ped.cita != null %}
                    	<td>{{ ped.cita.mecanico.nombre }}</td>
                    {% endif %}
                    <td>{{ ped.cliente.nombre }}</td>
                    <td>{{ ped.cliente.user.nombreUsuario }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
  </div>
</body>
</html>