{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas_jefe</title>

</head>
<body>
    {% include "headerIndex.html" %}

  <div class="container-fluid">
    <div class="row">
      <!-- Barra lateral -->
      {% include 'barraLateral.html' %}

        <div class="col-10">
            {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Matricula Coche</th>
                        <th scope="col">Mecánico</th>
                        <th scope="col">Nombre Usuario</th>
                    </tr>
            </thead>
            <tbody>
                {% for c in citas %}
                <tr>
                    <th scope="row">{{ c.id }}</th>
                    <td>{{ c.fecha }}</td>
                    <td><input type="time" name="hora"></td>
                    <td>{{ c.motivo }}</td>
                    <td>{{ c.cocheCliente.modelo }}</td>
                    <td><select name="mecanico">
                            {% for mecanico in mecanicos %}
                                <option value="{{ mecanico.id }}">{{ mecanico.nombre }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>{{ c.cliente.nombre }}</td>
                    <td><a href="{% url 'lista_citas' %}"><img src="{% static 'icons8-añadir-24.png' %}"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
      </div>

    </div>
  </div>
</body>
</html>