{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas_jefe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e3fd01f854.js" crossorigin="anonymous"></script>

</head>
<body>
    {% include "header_tienda.html" %}

  <div class="container-fluid">
    <div class="row">
      <!-- Barra lateral -->
      {% include 'barraLateral.html' %}
        <div class="col-10">
            {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                        <th scope="col">Fecha Compra</th>
                        <th scope="col">Importe</th>
                        <th scope="col">Tipo de Presupuesto</th>
                        <th scope="col">Mecánico</th>
                        <th scope="col">Usuario</th>
                    </tr>
            </thead>
            <tbody>
                {% for p in presupuesto %}
                <tr>
                    <th scope="row">{{ p.id }}</th>
                    <td>{{ p.fecha_compra}}</td>
                    <td>{{ p.precio }}€</td>
                    {% if p.cita == null %}
                    	<td>COMPRA EN TIENDA</td>
                    {% endif %}
                    {% if p.cita != null %}
                    	<td>IMPORTE DE LA CITA</td>
                    {% endif %}
                    {% if p.cita == null %}
                    	<td>------------</td>
                    {% endif %}
                    {% if p.cita != null %}
                    	<td>{{ p.cita.mecanico.nombre }}</td>
                    {% endif %}
                    <td>{{ p.usuario.nombreUsuario }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
  </div>
</body>
</html>