<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Jefe</title>
</head>
<body>
    {% include 'header.html' %}
  <div class="container-fluid row">
  {% include 'barraLateral.html' %}
    <div class="col-10 d-flex flex-wrap">
      <!-- Barra lateral -->
        {% for m in marcas %}
           <div class="card" style="width: 18rem; margin: 2px;">
              <img src="{{ m.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ m.nombre }}</h5>
              </div>
              <div class="card-body">
                  <a href="{% url 'quitar_marca' id=m.id %}"><img src={% static 'icons8-papelera-24.png' %}></a>
                  <a href="{% url 'cambiar_marca' id=m.id %}"><img src={% static 'icons8-editar-24.png' %}></a>
              </div>
            </div>
        {% endfor %}
    </div>
    </div>
</body>
</html>