{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas_jefe</title>
</head>
<body>
    {% include "headerIndex.html" %}

  <div class="container-fluid">
    <div class="row">
      <!-- Barra lateral -->
      {% include 'barraLateral.html' %}
        <div class="col-10">
            {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Matricula</th>
                        <th scope="col">Mecánico</th>
                        <th scope="col">Usuario</th>
                    </tr>
            </thead>
            <tbody>
                {% for c in citas %}
                <tr>
                    <th scope="row">{{ c.id }}</th>
                    <td>{{ c.fecha }}</td>
                    <td>{{ c.hora }}</td>
                    <td>{{ c.motivo }}</td>
                    <td>{{ c.cocheCliente.matricula }}</td>
                    <td>{{ c.mecanico.nombre }}</td>
                    <td>{{ c.cliente.user.nombreUsuario }}</td>
                    <td><button><img src="{% static 'icons8-editar-24.png' %}"></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
  </div>
</body>
</html>