{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas_jefe</title>
</head>
<body>
    {% include "header.html" %}

  <div class="container-fluid">
    <div class="row">
      <!-- Barra lateral -->
      {% include 'barraLateral.html' %}
        <div class="col-md-10">
            {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Matricula</th>
                        <th scope="col">Mecánico</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Estado</th>
                    </tr>
            </thead>
            <tbody>
                {% for c in citas %}
                <form method="post" action="{% url 'asignar_cita_jefe' c.id %}">
                    {% csrf_token %}
                    <tr>
                        <th scope="row">{{ c.id }}</th>
                        <td>
                            {{ c.fecha }}
                            <input type="hidden" name="fecha" value="{{ c.fecha }}">
                        </td>
                        {% if c.hora %}
                            <td>{{ c.hora }}</td>
                        {% else %}
                            <td><input type="time" name="hora" required></td>
                        {% endif %}
                        <td>{{ c.motivo }}</td>
                        <td>{{ c.cocheCliente.matricula }}</td>
                        {% if c.mecanico %}
                        <td>{{ c.mecanico.nombre }}</td>
                        {% else %}
                            <td>
                                <select name="mecanico">
                                    {% for m in mecanicos %}
                                    <option value="{{ m.id }}">{{ m.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        {% endif %}
                        <td>{{ c.cliente.user.nombreUsuario }}</td>
                        <td>{{ c.estado }}</td>
                        {% if c.estado == 'ACEPTADA' %}
                        	<td><img src="{% static 'tick-verde.png' %}"></td>
                        {% endif %}
                        {% if c.estado == 'RECHAZADA' or c.estado == 'FINALIZADA' %}
                            <td><a href="{% url 'quitar_cita' c.id %}"><img  src="{% static 'icons8-cancelar-24.png' %}"></a></td>
                        {% endif %}
                        {% if c.estado == 'PENDIENTE' %}
                            <td><button type="submit" style="border: none; background-color: white"><img src="{% static 'icons8-lápiz-24.png' %}"></button></td>
                        {% endif %}
                    </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
  </div>
    {% include 'alerts/alert.html' %}
</body>
</html>