<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Jefe</title>
</head>
<body>
    {% include 'headerIndex.html' %}

  <div class="container-fluid">
    <div class="row">
      <!-- Barra lateral -->
      {% include 'barraLateral.html' %}

      <!-- Contenido principal -->
      <div class="col-10" id="form_central">

        <!-- FORMULARIO DE PRODUCTOS -->

        <div class="container-fluid">
          <form action="" method="post">
              {% csrf_token %}
            <div class="mb-3">
              <label for="marcaname" class="form-label">Nombre Marca</label>
              <input type="text" class="form-control" id="marcaname" name="nombre" value="{{ marca.nombre }}">
            </div>
            <div class="mb-3">
              <label for="urlimg" class="form-label">Imagen</label>
              <input type="text" class="form-control" id="urlimg" name="url" value="{{ marca.url }}">
            </div>
            <button type="submit" class="btn btn-dark">Guardar</button>
          </form>
        </div>

        <!-- Contenido principal -->
      </div>
    </div>
  </div>
</body>
</html>
