<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Jefe</title>
</head>
<body>
    {% include 'header.html' %}


  <div class="container-fluid row">
      <!-- Barra lateral -->
      {% include 'barraLateral.html' %}
        <!-- Contenido -->
        <div class="col-10 d-flex flex-wrap">
        {% for e in mecanico %}

           <div class="card" style="width: 18rem; margin: 2px;">
              <img src="{{ e.url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ e.nombre }}</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ e.fecha_nacimiento}}</li>
                <li class="list-group-item">{{ e.dni }}</li>
                <li class="list-group-item">{{ e.email }}</li>
              </ul>
              <div class="card-body">
                  <a href="{% url 'quitar_mecanico' id=e.id %}"><img src={% static 'icons8-papelera-24.png' %}></a>
                  <a href="{% url 'cambiar_mecanico' id=e.id %}"><img src={% static 'icons8-editar-24.png' %}></a>
              </div>
            </div>
        {% endfor %}

    </div>

    </div>




</body>
</html>