{% load static %}
{% include 'nav.html' %}
<head>
    <link href=" {% static 'taller.png' %}">
</head>
<style>
     @media (max-width: 768px) {
        .responsive-container {
            flex-direction: column;
            align-items: center;
        }
    }
</style>

<body>

<div class="">

    <div class="col-10" style="margin-left: 2%" >
      <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0" >
          <h5>En la vasta extensión de la Cañada Real, donde la vida fluye entre la tradición y la modernidad, se alzaba un taller de mecánica único en su tipo, conocido como "Recamán". Este taller, dirigido por una familia gitana, era mucho más que un lugar para reparar automóviles; era un centro de comunidad y un bastión de habilidades mecánicas excepcionales.</h5>

            <h5>La familia que regentaba el taller, los González, eran conocidos en la Cañada Real por su destreza en el arte de la mecánica y su profundo respeto por las tradiciones gitanas. Don Manuel, el patriarca, era un hombre sabio con décadas de experiencia en reparaciones automotrices, y junto a su esposa, Doña Rosa, y sus hijos, llevaban adelante el negocio con orgullo y pasión.</h5>

            <h5>Un día, llegó al taller un joven llamado Miguel, cuyo automóvil había sufrido una avería en mitad de la carretera. Desesperado por encontrar una solución, Miguel había escuchado hablar de la reputación de "Recamán" y decidió acudir en busca de ayuda.</h5>

            <h5>Al llegar al taller, Miguel fue recibido con calidez por la familia González. Mientras Don Manuel y sus hijos inspeccionaban el vehículo, Doña Rosa invitó a Miguel a compartir un café y a escuchar las historias de la comunidad gitana. Entre risas y anécdotas, Miguel se sintió acogido como parte de la familia.</h5>

            <h5>Con el sol comenzando a ocultarse en el horizonte, el equipo de "Recamán" trabajó incansablemente para reparar el automóvil de Miguel. Con habilidad y determinación, lograron solucionar el problema y devolverle a Miguel la movilidad que tanto necesitaba.</h5>

            <h5>Agradecido por la ayuda recibida, Miguel decidió quedarse un tiempo en la Cañada Real, fascinado por la cultura gitana y el espíritu de comunidad que allí reinaba. Con el tiempo, se convirtió en un miembro más de la familia González, aprendiendo los secretos de la mecánica y compartiendo su conocimiento con la comunidad.</h5>

            <h5>Así, el taller "Recamán" se convirtió en un símbolo de unidad y colaboración en la Cañada Real, donde las habilidades mecánicas se combinaban con el espíritu de la cultura gitana para ayudar a aquellos que lo necesitaban. Con cada automóvil reparado, la familia González demostraba que, más allá de las herramientas y las piezas, lo más importante era el corazón que ponían en cada tarea y la conexión con su comunidad.</h5>
      </div>
    </div>




    <div class="responsive-container" style="display: flex; justify-content: space-around; margin-top: 4%">
        <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48656.003566039675!2d-3.635727756932094!3d40.342341061758994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42259efcf26645%3A0xa7e52e6ee5d016bb!2sCa%C3%B1ada%20Real%20Galiana!5e0!3m2!1ses!2ses!4v1714139565742!5m2!1ses!2ses" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>

        <div>
            <form id="faqForm">
                <h4>Haz una pregunta</h4>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Escribe tu nombre">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Escribe tu email">
                </div>
                <div class="form-group">
                    <label for="pregunta">Pregunta</label>
                    <textarea class="form-control" id="pregunta" rows="3" placeholder="Escribe tu pregunta aquí"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Enviar pregunta</button>
            </form>


        </div>

    </div>


</div>


</body>

<script>
    document.getElementById('faqForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var nombre = document.getElementById('nombre').value;
        var email = document.getElementById('email').value;
        var pregunta = document.getElementById('pregunta').value;
        console.log(nombre, email, pregunta);
        alert('Gracias por tu pregunta, te responderemos pronto');
    });
</script>

{% include 'footer.html' %}